<!--
  Generated template for the Main page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <i class="fa fa-cog settings" (click)="gotoSettintgs()" aria-hidden="true"></i>
    <ion-title>Devices</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list class="deviceItem">

    <ion-item class="enhedsItem" (press)="pressEvent('lastbil');" (click)="gotoDevice('lastbil');">
      <i class="fa fa-battery-quarter statusind" aria-hidden="true"></i>
      <p class="itemText">lastbil</p>
      <p class="clickIndicator">···</p>
      <p class="infoCard red">Low battery</p>
    </ion-item>

    <ion-item class="enhedsItem" (press)="pressEvent('Gravemaskine');" (click)="gotoDevice('Gravemaskine');">
      <i class="fa fa-battery-full statusind" aria-hidden="true"></i>
      <p class="itemText">Gravemaskine</p>
      <p class="clickIndicator">···</p>
      <p class="infoCard blue">All ok</p>
    </ion-item>

    <ion-item class="enhedsItem" (press)="pressEvent('grusgrav');" (click)="gotoDevice('grusgrav');">
      <i class="fa fa-plug statusind" aria-hidden="true"></i>
      <p class="itemText">grusgrav</p>
      <p class="clickIndicator">···</p>
      <p class="infoCard grey">Bad connection</p>
    </ion-item>

</ion-list>

</ion-content>
