page-main {

}


.statusIndicator{
    width: 20px;
    height: 20px;
    border: 1px solid #90a4ae;
    border-radius: 5px;
    background: #44e433;
    margin-right: 15px;
}

.deviceItem{
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border: none;
}

.itemText{
    font-family: 'LabradorBBold';
    font-size: 2rem !important;
    float: left;
    margin-top: 6px !important;
}

.list-md .item-block .item-inner, .list-ios .item-block .item-inner {
    border: none;
}

.enhedsItem, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .list-wp > .item-block:last-child, .list-wp > .item-wrapper:last-child .item-block{
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #eeeeee;
}

.scroll-content{
    padding: 0px !important;
}

.infoCard{
    min-width: 50px;
    float: right;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
    border-radius: 5px;
    color: white !important;
    font-size: 16px !important;
}

.clickIndicator{
    float: right;
    font-family: 'LabradorBBold';
    font-size: 28px !important;
    margin-right: 0px !important;
    margin-left: 14px !important;
    line-height: 31px !important;
    color: #8e8e8e !important;
}

.toolbar-background{
    background: #2c3e50;
}
.toolbar-title{
    color: white;
    text-align: center;
    font-family: 'LabradorBRegular';
    font-weight: 100;
    font-size: 22px;
}

.statusind{
    float: left;
    margin-top: 8px;
    margin-right: 15px;
}


.red{
    background: #e74c3c;
}

.green{
    background: #27ae60;
}

.yellow{
    background: #ffeb43;
}

.grey{
    background: #2c3e50;
}

.blue{
    background: #3498db;
}


.settings{
    float: left;
    color: white;
    font-size: 26px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    margin-left: 10px;
}

.platform-ios .settings{
    bottom: 10px;
}