<!--
  Generated template for the Device page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <i class="fa fa-arrow-left backArrow" id="fadeArrow" aria-hidden="true" (click)="back();"></i>
    <ion-title id="titleCard">device</ion-title>
    <ion-toggle color="secondary" id="activeToggle"></ion-toggle>
  </ion-navbar>

</ion-header>


<ion-content id="devicePage" padding>

  <div id="conStatus"><i class="fa fa-dot-circle-o" id="signalStrength" aria-hidden="true"></i></div>
  <p class="conText">Connection: Good</p>
  <p class="idText">Device ID: #523495235</p>
  <p class="idText">Device owner: Company name</p>
  <p class="idText">Last update: 12/12/17 12:27</p>
  <p class="idText">Last alarm: 05/12/17 14:43</p>


  <div id="deviceParams">

    <ion-grid>
      <ion-row>
        <ion-col class="borderCol"><i class="fa fa-battery-full battery" aria-hidden="true"></i><p class="batText">100%</p></ion-col>
        <ion-col class="borderCol"><i class="fa  fa-thermometer-half therm" aria-hidden="true"></i><p class="batText">20°C</p></ion-col>
        <ion-col (click)="getLocation();" class="borderCol"><i class="fa fa-map-marker loc" aria-hidden="true"></i><p class="batText">Find device</p></ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
