page-device {

}

#devicePage{
    background: #34495e;
}

.back-button.show-back-button, .bar-button-default-ios {
    display: none;
}

.backArrow{
    position: absolute;
    padding: 13px;
    opacity: 0;
    font-size: 19px;
    color: white;
    top: 5px;
    z-index: 100;
}

.wp .backArrow{
    font-size: 20px;
    top: 0px;
}

.ios .backArrow{
    top: 19px;
}

#activeToggle{
    position: absolute;
    right: 10px;
    opacity: 0;
    bottom: 20px;
}

.ios #activeToggle{
    bottom: 10px;
}

.wp #activeToggle{
    bottom: 13px;
}

#conStatus{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 100%;
    background: #2ecc71;
    border: 15px solid white;
}

#signalStrength{
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-size: 115px;
    color: white;
}

.conText, .idText{
    text-align: center;
    color: white;
    font-size: 20px;
}

.idText{
    font-size: 14px;
    font-family: 'LabradorBRegular';
}

#deviceParams{
    background: #50597b;
    height: 80px;
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.battery, .therm, .loc{
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    transform: rotate(270deg);
    text-align: center;
}

.therm, .loc{
    transform: none;
}

.loc{
    color: #2ecc71;
}

.batText{
    margin: 5px;
    text-align: center;
    color: white;
    font-family: 'LabradorBRegular';
    font-size: 16px;
}

.borderCol{
    border-left: 1px solid rgba(0,0,0,0.3);
}

.borderCol:first-child{
    border-left: none;
}