<ion-header>
  
</ion-header>

<ion-content class="loginPage" padding>

    <ion-img class="loginLogo" width="200" height="200" src="./assets/icon/logo.png"></ion-img>  

    <ion-input [(ngModel)]="key" text-center class="loginInput" placeholder="Activation code"></ion-input>

    <button id="loginButton" ion-button color="lightblue" [outline]="isOutline" (click)="login();">
      <p id="loginText">Login</p>
      <div id="loginSpinner" class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </button>
    
    <p (click)="displayPop()" class="whereCard">Where do i find my "Activation code"?</p>

    <div id="overlay" class="">

      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>

    </div>
</ion-content>