page-settings {

}

.backArrow{
    position: absolute;
    padding: 13px;
    opacity: 0;
    font-size: 19px;
    color: white;
    top: 5px;
    z-index: 100;
}

.wp .backArrow{
    font-size: 20px;
    top: 0px;
}

.ios .backArrow{
    top: 19px;
}

.back-button.show-back-button, .bar-button-default-ios {
    display: none;
}

.settingsText, .settingsVal{
    font-family: 'LabradorBRegular';
}

.alert-radio-label{
    font-family: 'LabradorBRegular';
    font-size: 18px;
}

.settingsText, .settingsIcon,  .settingsVal{
    float: left;
    line-height: 36px !important;
    margin-right: 15px;
    font-size: 18px!important;
    color: black;
}

.settingsToggle,  .settingsVal{
    float: right;
}

ion-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    height: 50px;
}