<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <i class="fa fa-arrow-left backArrow" id="fadeArrow" aria-hidden="true" (click)="back();"></i>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>

  <ion-item>
    <ion-label class="label label-md" (click)="toggleVac()" ng-change="vacToggle">
      <i class="fa fa-bell settingsIcon" aria-hidden="true"></i>
      <p class="settingsText">Vacation mode</p>
      <ion-toggle checked="{{vacMode}}" (click)="toggleVac()" class="settingsToggle" id="vacToggle" color="secondary"></ion-toggle>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="label label-md">
      <i class="fa fa-hashtag settingsIcon" aria-hidden="true"></i>
      <p class="settingsText">Phone ID</p>
      <p class="settingsVal" id="phoneId">···</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="label label-md" (click)="langSelect()">
      <i class="fa fa-globe settingsIcon" aria-hidden="true"></i>
      <p class="settingsText">Language</p>
      <p class="settingsVal">{{lang}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="label label-md" (click)="tempChange()">
      <i class="fa fa-thermometer-full settingsIcon" aria-hidden="true"></i>
      <p class="settingsText">Temperature unit</p>
      <p class="settingsVal">°{{tempUnit}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="label label-md">
      <i class="fa fa-info-circle settingsIcon" aria-hidden="true"></i>
      <p class="settingsText">Current app build</p>
      <p class="settingsVal">v{{curAppVersion}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="label label-md">
      <i class="fa fa-wrench settingsIcon" aria-hidden="true"></i>
      <p class="settingsText">Latest app build</p>
      <p class="settingsVal">v{{appVersion}}</p>
    </ion-label>
  </ion-item>

</ion-list>

</ion-content>
